---
import "./Header.scss"
import {Link} from "../../lib/api/types/content/link";

interface Props {
	links: Link[]
}

const { links }: Props = Astro.props;
---

<div class="max-width-container">
	<div class="header">
		<!-- div class="header__logo">
			<p><a href="/">Ben Ryder</a></p>
		</div-->
		<nav class="header__navigation">
			<ul class="header__navigation-menu">
				{links.map(link => (
						<li class="header__navigation-item">
							<a class="header__navigation-link" href={link.url}>{link.text}</a>
						</li>
				))}
			</ul>
		</nav>
	</div>
</div>