.card-simple-listing {
	margin-top: var(--j-space-24);

	&__title {
		font-size: var(--j-text-size-xl);
		font-weight: bold;
		color: var(--j-c-text-heading);

		&:after {
			content: '';
			display: block;
			background-color: var(--j-c-primary);
			height: var(--j-border-width-lg);
			width: 100px;
			margin-top: var(--j-space-4);
		}
	}

	&__cards {
		margin-top: var(--j-space-4);
	}

	&__cta {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: var(--j-space-6);

		// todo: provide option via Jigsaw?
		.j-arrow-link {
			text-decoration: none;
		}
	}

	@media (min-width: 768px) {
		&__cta {
			justify-content: flex-start;
			padding-left: var(--j-space-8);
		}
	}
}