---
import Header from "../../regions/Header/Header.astro";

import "./GlobalLayout.scss"
import Footer from "../../regions/Footer/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="TODO: add description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/css/jigsaw.css" />
		<link rel="stylesheet" href="/icons/css/fontello.css" />
		<title>{title} | Ben Ryder</title>
	</head>
	<body class="brm-layout">
		<div class="brm-layout__header">
			<Header />
		</div>
		<main class="brm-layout__main">
				<slot />
		</main>
		<div class="brm-layout__footer">
			<Footer />
		</div>
	</body>
</html>

<script>
	const jsFeatures = Array.from(document.querySelectorAll('.js-required'));
	jsFeatures.map(feature => {
		feature.classList.remove('js-required')
	})
</script>