---
import {getCollection, getEntries} from "astro:content";

import GlobalLayout from "../../patterns/layouts/GlobalLayout/GlobalLayout.astro";
import CardComplexListing from "src/patterns/components/CardComplexListing/CardComplexListing.astro";

const unsortedPosts = await getCollection('posts', ({data}) => {
    return data.status === 'published'
})
const posts = unsortedPosts.sort((p1, p2) => (p1.data.created_at < p2.data.created_at ? 1 : -1))
---

<GlobalLayout title="All Posts">
	<CardComplexListing
		title="ðŸ“ Posts"
		description="<p>Thought pieces, technical guides, references, quick-tips and just anything else random I fancy writing about.</p>"
		notFoundText="No Guides Found"
		tags={[]}
		cards={posts.map(post => {
			return {
				title: post.data.name,
				description: post.data.description,
				link: `/posts/${post.id}`,
				tags: [],
				createdAt: post.data.created_at,
				updatedAt: post.data.updated_at,
			}
		})}
	/>
</GlobalLayout>
