---
import {getCollection} from "astro:content";

import GlobalLayout from "../../patterns/layouts/GlobalLayout/GlobalLayout.astro";
import CardComplexListing from "src/patterns/components/CardComplexListing/CardComplexListing.astro";

const posts = await getCollection('posts')
---

<GlobalLayout title="All Posts">
	<CardComplexListing
		title="ðŸ“ Posts"
		description="<p>Thought pieces, technical guides, references, quick-tips and just anything else random I fancy writing about.</p>"
		notFoundText="No Guides Found"
		tags={[]}
		cards={posts.map(post => {
			return {
				title: post.data.name,
				description: post.data.description,
				link: `/posts/${post.id}`,
				tags: [],
				publishedAt: post.data.published_at,
				updatedAt: post.data.updated_at,
			}
		})}
	/>
</GlobalLayout>
