---
import "./TopBarMessage.scss"

interface Props {
	messageHtml: string;
	type?: 'info' | 'warning'
}

const { messageHtml, type }: Props = Astro.props;
---

<div class:list={["top-bar-message", {"top-bar-message--warning": type === 'warning'}]}>
	<div class="top-bar-message__inner"  set:html={messageHtml} />
</div>
