.badge {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 10px;
    border-radius: 3px;
    font-size: var(--text-sm);
    font-family: monospace;
    background: var(--colour-bg-secondary);
    color: var(--colour-text-secondary);

    svg,
    img {
        width: 18px;
        height: 18px;
    }

    a {
        color: inherit;
        text-decoration: underline;

        &:hover {
            color: var(--colour-text-secondary-interact);
            text-decoration-color: var(--colour-text-secondary-interact);
        }
    }

    &:not(:has(img,svg)) {
        padding: 7px;
    }
}