.badge {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: var(--text-sm);
    font-family: monospace;
    background: var(--badge-colour-bg);
    color: var(--badge-colour-text);

    svg,
    img {
        width: 20px;
        height: 20px;
    }

    a {
        color: inherit;
        text-decoration: underline;

        &:hover {
            color: var(--badge-colour-text-interact);
            text-decoration-color: var(--badge-colour-text-interact);
        }
    }
}