@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*h1, h2, h3, h4, h5, h6 {*/
/*    font-family: "Popwpins", serif;*/
/*}*/

.prose {
    img {
        max-width: 100%;
        height: auto;

        border: 1px solid #999;
    }

    ul {
        list-style-type: disc;
        margin-left: 15px;

        li {
            margin-top: 5px;
            line-height: 1.5rem;
        }
    }

    blockquote {
        color: #666;
        background: #eee;
        margin-left: 0;
        padding: 1px 15px;
        border-left: 5px solid #666;
        border-right-radius: 5px;
    }

    a {
        font-weight: 600;
        color: #16658d;
    }
}
p {
    line-height: 1.5rem;
}

.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    li {
        background: #eee;
        color: #444;
        padding: 5px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;
    }

    svg, img {
        width: 20px;
        height: 20px;
    }

    a {
        color: #444;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.metadata {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    li {
        display: flex;
        gap: 5px;
        background: #eee;
        color: #444;
        padding: 4px;
        border-radius: 3px;
        text-decoration: none;

        a {
            color: #444;
        }
    }

    svg {
        color: #000;
    }
}

.fancy-heading {
    width: fit-content;

    &:after {
        content: "";
        height: 4px;
        width: 80%;
        display: block;
        background: #328bb8;
    }
}

.astro-code {
    padding: 15px;
    border-radius: 5px;
}

header,
footer {
    a {
        font-weight: 600;
        color: #16658d;
    }
}