---
import "./Header.css"

const navigationLinks = [
	{
		text: 'Projects',
		url: '/projects'
	},
	{
		text: 'Blog',
		url: '/blog'
	},
	{
		text: 'Guides',
		url: '/guides'
	},
	{
		text: 'Contact',
		url: '/contact'
	}
]

---

<header class="header max-width-container">
	<div class="header">
		<div class="header__logo">
			<a href="/" aria-label="Home" class="header__logo-link">
				<img class="header__logo-image" alt="" src="/images/me.jpeg" />
			</a>
		</div>
		<nav class="header__navigation">
			<ul class="header__navigation-menu">
				{navigationLinks.map(link => (
					<li class="header__navigation-item">
						<a class="header__navigation-link" href={link.url}>{link.text}</a>
					</li>
				))}
			</ul>
		</nav>
	</div>
</header>
