.card-listing {
	margin-top: var(--j-space-16);

	&__title {
		font-size: var(--j-text-size-xl);
		font-weight: bold;
		color: var(--j-c-text-heading);

		&:after {
			content: '';
			display: block;
			background-color: var(--j-c-primary);
			height: var(--j-border-width-lg);
			width: 80px;
			margin-top: var(--j-space-4);
		}
	}

	&__cards {
		margin-top: var(--j-space-4);
		padding: 0 var(--j-space-8);
	}
}