.card {
    padding: 15px;

    &:focus-within,
    &:hover{
        background: #eee;
        cursor: pointer;
    }
}

.card__title {
    font-size: var(--text-size-h3);
    font-weight: bold;
}

.card__description {
    margin-top: 10px;
    line-height: 1.2;
}

.card__date {
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
}
