.listing {
    margin-top: 2rem;
}

.listing__heading {
    width: fit-content;
    font-size: var(--text-size-h2);
    font-weight: bold;
    margin-bottom: 10px;

    &.--underline {
        &:after {
            content: "";
            height: 10px;
            width: 80%;
            margin-top: 2px;
            display: block;
            background-image: url("/ink/underline-2.svg");
            background-size: auto 75%;
            background-repeat: no-repeat;
            text-decoration: none;
        }
    }
}

.listing__items {
    /*list-style-type: initial;*/
    /*padding-left: 15px;*/
}

.listing__item {
    border-bottom: 1px solid var(--colour-bg-secondary);
}

.listing__link {
    margin: 15px;
    display: flex;
    justify-content: end;
}