.prose {
    img {
        max-width: 100%;
        height: auto;

        border: 1px solid #999;
    }

    ul {
        list-style-type: disc;
        margin-left: 15px;

        li {
            margin-top: 5px;
            line-height: 1.5rem;
        }
    }

    blockquote {
        color: #666;
        background: #eee;
        margin-left: 0;
        padding: 1px 15px;
        border-left: 5px solid #666;
        border-right-radius: 5px;
    }

    a {
        font-weight: 600;
        color: var(--colour-brand);
        text-decoration: none;
        background-image: url("/ink/underline-1.svg");
        background-size: 100% 4px;
        background-position: bottom;
        background-repeat: no-repeat;

        &:hover {
            color: var(--color-text-interact);
            background-image: url("/ink/underline-1-interact.svg");
        }
    }

    p {
        line-height: 1.5rem;
    }
}
