@import "variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DepartureMono';
    src: url('/fonts/departure-mono/DepartureMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
