# Node
/node_modules

# Environment Variables
.env
.env.*
!.env.example

# Setup Scripts
scripts/*.sql
!scripts/setup.sql
!scripts/setup_test.sql

# Content
content/data
content/cms_benryder_me.sql

# Asset Uploads
/uploads
