.footer {
  margin-top: var(--j-space-32);
  margin-bottom: var(--j-space-24);
  font-size: var(--j-text-size-sm);
  color: var(--j-c-mono-50);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__sign-off {
    margin-top: var(--j-space-12);
  }

  &__navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--j-space-4);
    flex-direction: column;
  }

  &__navigation-link {
    color: var(--j-c-mono-50);
    text-decoration: none;
    border-bottom: var(--j-border-width-md) solid transparent;

    &:hover {
      border-bottom-color: var(--j-c-primary);
    }
  }

  &__navigation-item {
    margin-bottom: var(--j-space-2);

    &:after {
      color: var(--j-c-primary);
      padding-left: var(--j-space-6);
    }

    &:last-child:after {
      content: none;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row-reverse;
    justify-content: space-between;

    &__navigation-menu {
      justify-content: flex-start;
      flex-direction: row;
    }

    &__navigation-item {
      margin-bottom: 0;

      &:after {
        content: "|";
      }
    }

    &__sign-off {
      margin-top: 0;
    }
  }
}