.card-simple-listing {
	margin-top: var(--j-space-24);
}

.card-simple-listing__title {
	font-size: var(--j-text-size-xl);
	font-weight: bold;
	color: var(--j-c-text-heading);

	&:after {
		content: '';
		display: block;
		background-color: var(--j-c-primary);
		height: var(--j-border-width-lg);
		width: 100px;
		margin-top: var(--j-space-4);
	}
}

.card-simple-listing__cards {
	margin-top: var(--j-space-8);
}

.card-simple-listing__cta {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: var(--j-space-6);

	// todo: remove once jigsaw updated
	.j-arrow-link {
		text-decoration: none;
	}
}