
.greeter {
	padding: var(--j-space-16) 0;
}

.greeter__heading {
	font-size: var(--j-text-size-3xl);
	font-weight: bold;
	text-align: center;
	line-height: 1.2;

	.greeter__heading-name {
		color: var(--j-c-teal-400);
		text-wrap: nowrap;
	}

	@media (min-width: 768px) {
		text-align: left;
	}
}

.greeter__content {
	margin-top: var(--j-space-12);
}

.greeter__social {
	margin-top: var(--j-space-16);
}
