---
import { getCollection } from 'astro:content';
import Layout from "../../patterns/layouts/layout.astro";

export async function getStaticPaths() {
	const projects = await getCollection('projects');
	return projects.map(project => ({
		params: { slug: project.slug }, props: { project },
	}));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout>
    <h1>{project.data.title}</h1>
    <div class="prose">
        <Content />
    </div>
</Layout>
