---
import { getCollection } from 'astro:content';
import Layout from "../../patterns/layouts/layout.astro";

const projects = await getCollection('projects');
---

<Layout>
    <div class="bg-navy-400 max-w-5xl m-auto mt-24 p-12 rounded-t-md border-b-lg border-b-primary">
        <h1 class="text-2xl font-bold">Projects</h1>
        <div class="prose text-sm mt-4">
            <p>Here you can find a list of all my projects, most of them are also available <a href="https://github.com/ben-ryder">on my GitHub.</a></p>
        </div>
    </div>
    <div class="max-w-5xl m-auto">
        <ul class="pt-12">
            {projects.map(project => (
              <li class="bg-navy-400 p-12 rounded-md border-md border-navy-400 mb-12 hover:border-primary">
                  <a href={`/projects/${project.slug}`}>
                      <h3 class="font-bold text-xl">{project.data.title}</h3>
                  </a>
                  <p class="pt-2 text-sm">{project.data.description}</p>
                  <ul>
                      <li class="text-blue-300 text-sm"><a>#python</a></li>
                  </ul>
              </li>
            ))}
        </ul>
    </div>
</Layout>
