---
import GlobalLayout from '../patterns/layouts/GlobalLayout/GlobalLayout.astro';
import { JProse } from "@ben-ryder/jigsaw-react"
---

<GlobalLayout title="Page Not Found">
	<div class="max-width-container">
		<JProse>
			<h1>Page Not Found</h1>

			<p>The page you requested could not be found. It's possible you've typed an incorrect URL or followed a dead link.
				If you think the page you tried to visit should exist then feel free to <a href="/contact">contact me</a> or <a href="https://github.com/ben-ryder/benryder.me/issues/new?assignees=ben-ryder&labels=bug&projects=&template=bug-report.md">raise an issue</a>.
			</p>
			<p>Alternatively, you could take a look at my <a href="/projects">projects</a>, <a href="/blog">blog posts</a> or <a href="/guides">guides</a>.</p>
		</JProse>
	</div>
</GlobalLayout>
