---
import {apiClient} from "../lib/api/api-client";
import {Page} from "../lib/api/types/content/page";
import GlobalLayout from "../patterns/layouts/GlobalLayout/GlobalLayout.astro";

export async function getStaticPaths() {
	const pages = await apiClient.getPages()

	return pages.map((page) => ({
		params: { path: page.path },
		props: page,
	}));
}

const page: Page = Astro.props;
---

<GlobalLayout title={page.title}>
	<div class="max-width-container">
		<div class="j-prose">
			<div set:html={page.contentHtml} />
		</div>
	</div>
</GlobalLayout>
