---
import {getCollection, render} from "astro:content";
import GlobalLayout from "../patterns/layouts/GlobalLayout/GlobalLayout.astro";

export async function getStaticPaths() {
	const pages = await getCollection('pages');

	return pages.map(page => ({
		params: { path: page.data.path }, props: { page },
	}));
}

const { page } = Astro.props;

const {Content} = await render(page);
---

<GlobalLayout title={page.data.title}>
	<div class="max-width-container">
		<div class="j-prose">
			<Content />
		</div>
	</div>
</GlobalLayout>
