---
import GlobalLayout from '../layouts/GlobalLayout/GlobalLayout.astro';
import type hcaptcha from '@hcaptcha/types';

import {apiClient} from "../lib/api/api-client";
const projects = await apiClient.getProjects()
---

<GlobalLayout title="Contact">
	<div class="j-content-section">
		<form action="" id="contact-form" class="j-form">
			<div class="j-form__header">
				<h2>✉️ Contact Me</h2>
				<p>You can use this form to contact me. I will never share your details with anyone, for more info see my <a href="#">privacy policy</a>.<br></p>
			</div>
			<noscript class="noscript">
				<p>Javascript is disabled, and because this form relies on Javascript to function it is currently hidden.</p>
				<p>If you wish to use this form, you must allow Javascript execution for this website and hcaptcha.com.</p>
			</noscript>
			<div class="j-form__content js-required">
				<div class="j-form__row">
					<div class="j-input-control">
						<label class="j-label" for="name">Name</label>
						<input class="j-input" id="name" name="name" placeholder="John Smith / johnsmith12" required="" />
					</div>
				</div>
				<div class="j-form__row">
					<div class="j-input-control">
						<label class="j-label" for="email">Email Address</label>
						<input class="j-input" id="email" name="email" type="email" placeholder="johnsmith12@example.com" required="" />
					</div>
				</div>
				<div class="j-form__row">
					<div class="j-input-control">
						<label class="j-label" for="subject">Subject</label>
						<input class="j-input" id="subject" name="subject" required="" placeholder="I'm contacting you about..." />
					</div>
				</div>
				<div class="j-form__row">
					<div class="j-text-area-control">
						<label class="j-label" for="message">Message</label>
						<textarea id="message" name="message" class="j-textarea" rows="10" required="" placeholder="Your message here... " />
					</div>
				</div>
				<div class="j-form__row">
					<label class="j-label" for="message">Captcha</label>
					<div class="captcha">
						<div class="h-captcha" data-sitekey={import.meta.env.PUBLIC_CAPTCHA_SITE_KEY} />
						<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
					</div>
				</div>
				<div class="j-form__row">
					<div class="j-button-group">
						<button class="j-button" type="submit">Submit</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</GlobalLayout>

<style>
		.captcha {
				margin-top: var(--j-space-4);
		}
</style>

<script>
	const contactForm: HTMLFormElement = document.querySelector("#contact-form");
	if (contactForm) {
		contactForm.addEventListener('submit', async (e) => {
			e.preventDefault();

			const data = new FormData(contactForm);
			const body = JSON.stringify({
				name: data.get('name'),
				email: data.get('email'),
				subject: data.get('subject'),
				message: data.get('message'),
				honeypot: data.get('honeypot'),
				captcha: data.get('h-captcha-response')
			})

			console.log(body)

			try {
				const res = await fetch(import.meta.env.PUBLIC_CONTACT_FORM_ENDPOINT, {
					method: 'POST',
					headers:{
						'Content-Type': 'application/json'
					},
					body: body
				});

				if (res.status === 204) {
					alert("Thank you for submitting your request.")

					// Clear the form and reset captcha
					contactForm.reset()
					hcaptcha.reset()
				}
				else {
					alert("There was a problem submitting the form. Please try again later.")
				}
			}
			catch (e) {
				console.log(e)
				alert("There was a problem submitting the form. Please try again later.")
			}
		})
	}
</script>
