---
import Page from '../layouts/Page.astro';
import {JProse, JContentSection, JCounter} from "@ben-ryder/jigsaw-react";
---

<Page>
	<main>
		<JContentSection>
			<JProse>
					<h1>This is a test</h1>
					<p>This is a React component being rendered at build time and being displayed to users with Jigsaw styles!</p>
			</JProse>

			<JCounter
				title="This is a test counter rendered only at build time"
				body="No JS has been shipped for this... yay! but it's not interactive... shit"
			/>
			<JCounter
				client:only="react"
				title="This is a counter rendered only on the client using React"
				body="This is interactive for users... yaay, but it won't appear unless JS is enabled... shit."
			/>
			<JCounter
				client:idle
				title="This is a counter rendered at build time, and then hydrated on the client"
				body="This is interactive for users... yaay, and it is visible without JS enabled... fuck yeh."
			/>

		</JContentSection>
	</main>
</Page>
