.promo-message {
	background: var(--j-c-primary);
	color: var(--j-c-primary-text);
	padding: var(--j-space-4) var(--j-space-12);

	&__inner {
		line-height: 1.5;
	}

	&--warning {
		background: var(--j-c-warning);
	}

	a {
		color: inherit;

		&:hover {
			color: var(--j-c-mono-200);
		}
	}

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
