---
import "./PromoMessage.scss"

interface Props {
	messageHtml: string;
}

const { messageHtml }: Props = Astro.props;
---

<div class="promo-message">
	<div class="promo-message__inner" set:html={messageHtml} />
</div>
