.card {
	padding: var(--j-space-6) 0;

	&__link-wrapper {
		color: var(--j-c-text);
		text-decoration: none;
		display: block;
		transition: all var(--j-motion-duration-fast) var(--j-motion-ease-in-out);

		&:hover,
		&:focus-visible {
			color: var(--j-c-teal-700);

			.card__title {
				color: inherit;
			}
		}
	}

	&__title {
		font-size: var(--j-text-size-md);
		font-weight: bold;
		color: var(--j-c-text-heading);
	}

	&__description {
		margin-top: var(--j-space-4);
		line-height: 1.25;
	}
}