.card-simple {
	padding: var(--j-space-6) 0;

	&__link-wrapper {
		color: var(--j-c-text-emphasis);
		text-decoration: none;
		display: block;
		transition: all var(--j-motion-duration-fast) var(--j-motion-ease-in-out);
		border-bottom: var(--j-border-width-md) solid transparent;
		width: fit-content;

		&:hover,
		&:focus-visible {
			color: var(--j-c-teal-700);
			border-bottom-color: var(--j-c-teal-700);
		}
	}

	&__title {
		font-size: var(--j-text-size-md);
		font-weight: bold;
		color: inherit;
		transition: all var(--j-motion-duration-fast) var(--j-motion-ease-in-out);
	}

	&__description {
		margin-top: var(--j-space-4);
		line-height: 1.25;
	}
}