
.icon-github:before { content: '\f001'; } /* '' */
.icon-linkedin:before { content: '\f002'; } /* '' */
.icon-mail:before { content: '\f003'; } /* '' */
.icon-music:before { content: '\f004'; } /* '' */
.icon-spotify:before { content: '\f005'; } /* '' */
.icon-arrow-left:before { content: '\f006'; } /* '' */
.icon-arrow-right:before { content: '\f007'; } /* '' */
.icon-share:before { content: '\f008'; } /* '' */
.icon-link:before { content: '\f009'; } /* '' */
.icon-tags:before { content: '\f010'; } /* '' */
.icon-calendar:before { content: '\f011'; } /* '' */
.icon-globe:before { content: '\f012'; } /* '' */
.icon-codepen:before { content: '\f013'; } /* '' */
.icon-mastodon:before { content: '\f014'; } /* '' */
.icon-help:before { content: '\f015'; } /* '' */
.icon-attention:before { content: '\f016'; } /* '' */
.icon-info:before { content: '\f017'; } /* '' */
.icon-menu:before { content: '\f018'; } /* '' */
.icon-x:before { content: '\f019'; } /* '' */
.icon-circle:before { content: '\f020'; } /* '' */
