.card-complex-listing {

	&__title {
		font-size: var(--j-text-size-xl);
		font-weight: bold;
		color: var(--j-c-text-heading);

		&:after {
			content: '';
			display: block;
			background-color: var(--j-c-primary);
			height: var(--j-border-width-lg);
			width: 100px;
			margin-top: var(--j-space-4);
		}
	}

	&__description {
		margin-top: var(--j-space-8);
	}

	&__filters {
		margin-top: var(--j-space-16);
		display: flex;
		flex-direction: column;
		gap: var(--j-space-4);
		padding: var(--j-space-8);
		background: var(--j-c-background-f1);
		border-radius: var(--j-border-radius-md);

		.j-multiselect {
			flex-grow: 1;
		}

		.j-button-group {
			margin-top: var(--j-space-4);
		}
	}

	&__filters-noscript {
		margin: var(--j-space-12) 0 var(--j-space-8);
	}

	&__no-cards {
		&-inner {
			margin: var(--j-space-12) 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&-text {
			margin-bottom: var(--j-space-12);
			font-size: var(--j-text-size-rg);
			font-weight: bold;
		}
	}

	&__cards {
		margin-top: var(--j-space-8);

		&:before {
			content: '';
			display: block;
			background-color: var(--j-c-blueGrey-900);
			width: 90%;
			height: var(--j-border-width-md);
			margin: var(--j-space-8) auto;
		}
	}

	@media (min-width: 768px) {
		&__filters {
			flex-direction: row;
			align-items: flex-end;
		}
	}
}