---
import "./CardSimple.css"

import type {CardSimpleProps} from "./CardSimple";
type Props = CardSimpleProps

const { link, title, description }: Props = Astro.props;
---

<div class="card-simple">
	<a href={link} class="card-simple__link-wrapper">
		<h3 class="card-simple__title">{title}</h3>
		<p class="card-simple__description">{description}</p>
	</a>
</div>
